// Colors
$primaryBgColor: #4c96d8;
$primaryTextColor: #fff;
$secondaryBgColor: #4cd0d8;
// Structure
$maxContentWidth: 900px;

html {
	height: 100%;
}

body {
	background-color: lightgray;
	overflow-x: hidden;
	position: relative;
	min-height: 100%;
	padding-bottom: 107px;
}

nav {
	box-shadow: 0 0 10px #80808030;

	img {
		width: 39px;
		margin-right: 10px;
	}
	a {
		color: #7d7d7d !important;
	}
}

section {
	width: 100%;
	max-width: $maxContentWidth;
	margin: 5px;

	&.shadow-box {
		margin: 5rem auto;
		background: #fff;
		box-shadow: 0 0 25px -10px #636363ab;
		border-radius: 5px;
	}

	.title-wrapper {
		display: block;
		padding: 2rem;
		background: $primaryBgColor;
		color: $primaryTextColor;
		margin-bottom: 2rem;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		box-shadow: inset 0 -5px 5px -2px #42424240;

		&.secondary {
			background: $secondaryBgColor;
		}
	}
}

form {
	#loan {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;

		.form-group {
			width: 100%;
			max-width: 49%;
			margin-bottom: 2em;
		}
	}

	#reset_form {
		height: 40px;
		width: 100%;
	}

	#email_pdf {
		display: inline-flex;

		> div:first-of-type {
			margin-right: 10px;
		}

		label {
			display: none;
		}
	}
}

footer {
	width: 100%;
	height: 107px;
	position: absolute;
	bottom: 0;
	background: #fff;
	padding: 20px;

	.easter-egg {
		text-decoration: none;

		span {
			transition: 0.5s ease-in-out;
			display: inline-block;
			width: 30px;
			margin: 0 2px;
			color: red;
		}

		&:hover {
			span {
				transition: 0.5s ease-in-out;
				transform: translateY(-12px);
			}
		}
	}
}

#paymentTable {
	border-top: 1px dashed rgba(86, 86, 86, 0.39);
	padding-top: 16px;
}

// Utilities
// -------------------------------------

.flex {
	width: 100%;
	display: flex;
	flex-flow: row wrap;

	&.between {
		justify-content: space-between;
	}

	&.split {
		> div {
			width: 100%;
			max-width: 49%;
		}
	}
}

.table-wrapper {
	overflow: scroll;
}

.bottom-150 {
	margin-bottom: 150px !important;
}
// -------------------------------------

// Slide effect
// -------------------------------------
.hide-left {
	left: 0;
	opacity: 1;

	&.slide-out {
		opacity: 0;
		position: absolute;
		left: -$maxContentWidth;
		transition: 1s;
	}
}

.hide-right {
	right: -$maxContentWidth;
	opacity: 0;

	&.slide-in {
		opacity: 1;
		position: relative;
		right: 0;
		transition: 1s;
	}
}
// -------------------------------------

// Mobile responsive
@media screen and (max-width: 910px) {
	section {
		&.shadow-box {
			width: calc(100% - 20px);
			margin: 5rem 10px;
		}
	}
}

@media screen and (max-width: 600px) {
	form #loan {
		.form-group {
			max-width: 100%;
		}
	}

	.flex {
		&.split {
			> :nth-child(2) {
				margin-top: 2em;
			}
			> div {
				max-width: 100%;
			}
		}
	}
}
